@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap");
.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  padding: 0 10px;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.phone {
  background-image: url("../img/icons/phone.png");
  width: 9px;
  height: 15px;
}
.icon.email {
  background-image: url("../img/icons/email.png");
  width: 15px;
  height: 11px;
}

body {
  background: #eae1d2;
  min-width: 320px;
}

header .navSidebar {
  font-size: 0;
  background-image: url("../img/nav-bg.png");
  background-repeat: repeat-x;
  height: 50px;
}
header .navSidebar .logo {
  display: inline-block;
  vertical-align: middle;
  width: 47%;
  height: 50px;
  padding-top: 9px;
  box-sizing: border-box;
}
header .navSidebar .logo a {
  text-transform: uppercase;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #65270c;
  text-decoration: none;
}
header .navSidebar .burger {
  display: none;
}
header .navSidebar ul.menu {
  display: inline-block;
  vertical-align: middle;
  width: 53%;
  text-align: right;
}
header .navSidebar ul.menu li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  position: relative;
}
header .navSidebar ul.menu li.close {
  display: none;
}
header .navSidebar ul.menu li.hasChild > a:after {
  transition: 0.3s;
  content: "";
  display: inline-block;
  vertical-align: top;
  border: 5px solid transparent;
  border-top: 5px solid white;
  margin-top: 5px;
  margin-left: 5px;
}
header .navSidebar ul.menu li.hasChild ul {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 145px;
  background: #e1d4c1;
  top: 20px;
  z-index: 1;
}
header .navSidebar ul.menu li.hasChild ul li {
  margin-right: 0;
  display: block;
  text-align: left;
  transition: 0.3s;
}
header .navSidebar ul.menu li.hasChild ul li a {
  display: block;
  padding: 10px 0 10px 20px;
  color: #181414;
}
header .navSidebar ul.menu li.hasChild ul li a:hover {
  transition: 0.3s;
  background: #9e9e9e;
}
header .navSidebar ul.menu li.hasChild ul li.hasChild {
  position: relative;
}
header .navSidebar ul.menu li.hasChild ul li.hasChild a:after {
  position: absolute;
  right: 0;
  transform: rotate(-90deg);
  top: 6px;
}
header .navSidebar ul.menu li.hasChild ul li.hasChild > ul {
  right: -105%;
  top: 0;
}
header .navSidebar ul.menu li.hasChild ul li.hasChild > ul:before {
  left: -10px;
  top: 13px;
  transform: rotate(90deg);
}
header .navSidebar ul.menu li.hasChild ul:before {
  content: "";
  position: absolute;
  left: 20px;
  top: -10px;
  border: 5px solid transparent;
  border-top: 5px solid #e1d4c1;
  transform: rotate(180deg);
}
header .navSidebar ul.menu li.hasChild:hover > ul {
  transition: 0.3s;
  visibility: visible;
  opacity: 1;
}
header .navSidebar ul.menu li.hasChild:hover a:after {
  transition: 0.3s;
  border-top: 5px solid #000000;
}
header .navSidebar ul.menu li:last-child {
  margin-right: 0;
}
header .navSidebar ul.menu li a {
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
header .navSidebar ul.menu li:hover a {
  color: #000000;
}
header .topSidebar {
  font-size: 0;
  text-align: right;
  padding: 13px 0;
}
header .topSidebar ul.contacts {
  display: inline-block;
}
header .topSidebar ul.contacts li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
header .topSidebar ul.contacts li:last-child {
  margin-right: 0;
}
header .topSidebar ul.contacts li a, header .topSidebar ul.contacts li i {
  display: inline-block;
  vertical-align: middle;
}
header .topSidebar ul.contacts li i {
  margin-right: 5px;
}
header .topSidebar ul.contacts li a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

footer {
  background-image: url("../img/footer-bg.png");
  background-repeat: repeat;
  padding: 20px 0;
  font-size: 0;
}
footer .content .contentBlock {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
footer .content .contentBlock form {
  padding-right: 50px;
}
footer .content .contentBlock form input {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #b1b2b2;
  display: block;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
footer .content .contentBlock form input::-webkit-input-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form input:-moz-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form input::-moz-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form input:-ms-input-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #b1b2b2;
  padding: 10px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
footer .content .contentBlock form textarea::-webkit-input-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form textarea:-moz-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form textarea::-moz-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form textarea:-ms-input-placeholder {
  color: #b1b2b2;
}

footer .content .contentBlock form button.btn {
  transition: 0.3s;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background: #b74c1b;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
footer .content .contentBlock form button.btn:hover {
  transition: 0.3s;
  background: #a14016;
}
footer .content .contentBlock .title {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #e1e1e1;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .content .contentBlock ul.navigation li {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .content .contentBlock ul.navigation li:before {
  content: ">";
  display: inline-block;
  vertical-align: middle;
  font-size: 8px;
  color: #bdbcbc;
  margin-right: 10px;
}
footer .content .contentBlock ul.navigation li a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: #bdbcbc;
}
footer .content .contentBlock ul.contacts li {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
footer .content .contentBlock ul.contacts li img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
footer .content .contentBlock ul.contacts li a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 14px;
  color: #bdbcbc;
}
footer .socialBlock {
  text-align: center;
}
footer .socialBlock ul {
  font-size: 0;
}
footer .socialBlock ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
footer .socialBlock ul li:last-child {
  margin-right: 0;
}

.copyBlock {
  background: #2e2d2d;
}
.copyBlock .text {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  padding: 30px 0;
}

.overlay {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.popup {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 4;
  background: #eae1d2;
  padding: 10px;
  top: 20%;
}
.popup .title {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.popup .title .close {
  position: absolute;
  right: 20px;
  top: 30px;
  background-image: url("../img/icons/close.png");
  width: 17px;
  height: 14px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}
.popup .title .close:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.popup .mapArea {
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
}
.popup .offices {
  font-size: 0;
  padding: 0 10px;
}
.popup .offices .office {
  transition: 0.3s;
  width: 49%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
  background: #e3d6c3;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd1c0;
  margin-bottom: 20px;
  cursor: pointer;
}
.popup .offices .office:nth-child(2n+2) {
  margin-right: 0;
}
.popup .offices .office:hover, .popup .offices .office.active {
  transition: 0.3s;
  background: #e7d1bb;
}
.popup .offices .office .title {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555555;
  letter-spacing: normal;
  margin-bottom: 20px;
  padding-top: 0;
}
.popup .offices .office .description {
  position: relative;
  padding-left: 25px;
}
.popup .offices .office .description:before {
  content: " ";
  background: url("../img/icons/map-pointer.png");
  background-size: 10px 14px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 14px;
}
.popup .offices .office .description .line {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}
.popup .offices .office .description .line:last-child {
  margin-bottom: 0;
}

.loginArea {
  text-align: center;
  padding-top: 160px;
  height: 100vh;
}
.loginArea .content {
  background: #ffffff;
  min-width: 400px;
  padding: 20px;
  display: inline-block;
}
.loginArea .content .logo .image {
  font-size: 0;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: #7b7a7a;
  border-radius: 100px;
  line-height: 100px;
  margin-bottom: 20px;
}
.loginArea .content .logo .image img {
  display: inline-block;
  vertical-align: middle;
}
.loginArea .content .logo .title {
  text-transform: uppercase;
  color: #555555;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.loginArea .content form .inputGroup {
  margin-bottom: 20px;
  text-align: left;
}
.loginArea .content form .inputGroup label {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555555;
  margin-bottom: 10px;
}
.loginArea .content form .inputGroup .invalid-feedback {
  color: #ff0000;
  padding-top: 5px;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.loginArea .content form .inputGroup input {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #b1b2b2;
  display: block;
  height: 30px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: 1px solid #c0b6a6;
}
.loginArea .content form .inputGroup input::-webkit-input-placeholder {
  color: #b1b2b2;
}

.loginArea .content form .inputGroup input:-moz-placeholder {
  color: #b1b2b2;
}

.loginArea .content form .inputGroup input::-moz-placeholder {
  color: #b1b2b2;
}

.loginArea .content form .inputGroup input:-ms-input-placeholder {
  color: #b1b2b2;
}

.loginArea .content form button.submit {
  transition: 0.3s;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background: #b74c1b;
  height: 30px;
  line-height: 30px;
  padding: 0 25px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.loginArea .content form button.submit:hover {
  transition: 0.3s;
  background: #a14016;
}

/*# sourceMappingURL=login.css.map */
